
<body>
    text-decoration: none;
    padding: 15px;
    font-family: Helvetica;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 200;
    font-size: 25px;
    color: white;
    width: 270px;
    height: 30px;
    text-align: center;
    display: inline-block;
    margin: 25px 50px 0 50px;
    <h2>Aqui se mueven los datos por el admin</h2>
    <center>
        <ul id=”button”>
            <li><a href="/AdminActions/Read">Consultar ticket</a></li>
            <li><a href="/AccountActions/Edit">Editar ticket</a></li>
            <li><a href="/AdminActions/Delete">Eliminar ticket</a></li>
        </ul>
        <br />
    </center>
</body>

